@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/arimo-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Arimo Regular'), local('Arimo-Regular'),
       url('../fonts/arimo-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/arimo-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/arimo-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/arimo-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/arimo-v11-latin-regular.svg#Arimo') format('svg'); /* Legacy iOS */
}