body{
	background-color: #364664;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
}

table{
	width: 95vw;
	height: 95vh;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  border-collapse:collapse;
  text-transform: uppercase;
  text-align:center;
}

tr td:nth-child(2n){
	background-color:  #e3e3e3;
}

tr td:nth-child(2n+1){
	background-color:  #f2f2f2;
}



.tr-1{
	background-color:  #fafafa;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.tr-1-td__1-text-1{
	color:  #484848;
	font-size: 0.875em;
	font-weight: 700;
	line-height: 2;
}
.tr-1-td__1-text-2{
	color:  #484848;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.4;
}

.name{
	color:  #ffffff;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.167;
}

#tr_2-standard{
	background-color:  #89c331;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);

}

#tr_3-ultimate{
	background-color:  #f04a56;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);

}

#tr_4-premium{
	background-color:  #20807c;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.money{
	color:  #ffffff;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 0.778;
}

.sup{
	color:  #ffffff;
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.556;
	position: relative;
	bottom: 15px;
}

.money-2{
	color:  #ffffff;
	font-size: 0.875em;
	font-weight: 700;
	line-height: 2;
	position: relative;
	bottom: 5px;
	left:5px;
}

button{
	width:70% ;
	height:35% ;
	padding-top: 5px;
	border-radius: 5px;
	cursor:pointer;
	text-transform: uppercase;
	color:  #ffffff;
	border:0px;
	background-color:  #484848;
	border-bottom: 7px solid #404040;
}

i{
	color:  #848484;
	font-size: 1.5em;
	line-height: 1.167;
}
.icons_name{
	color:  #484848;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.4;
}

.content{
	color:  #484848;
	line-height: 1.5;
}

.tr_3{
	border-top: 1px solid #cfcfcf;
}

.tr_4{
	border-top: 1px solid #cfcfcf;
}

.tr_5{
	border-top: 1px solid #cfcfcf;
}

button:hover{
	background-color:  #ffea00;	
	border-bottom: 7px solid #ffea00;
	transition: 1.5s all;
}

