body{
	background-color: #364664;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
}

table{
	width: 95vw;
	height: 95vh;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  border-collapse:collapse;
  text-transform: uppercase;
  text-align:center;
}
tr,
td{
	box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}

.tr-1-td__1-text-1{
	color:  #484848;
	font-size: 1.125em;
	font-weight: 700;
}
.tr-1-td__1-text-2{
	color:  #484848;
	font-size: 1.875em;
	font-weight: 700;
}

.tr-1-td__2{
	background-color:  #89c331;
	color:  #ffffff;
	font-size: 1.5em;
	font-weight: 700;
}

.tr-1-td__3{
	background-color:  #f04a56;
	color:  #ffffff;
	font-size: 1.5em;
	font-weight: 700;
}

.tr-1-td__4{
	background-color:  #20807c;
	color:  #ffffff;
	font-size: 1.5em;
	font-weight: 700;
}

.money{
	color:  #484848;
	font-size: 3.75em;
	font-weight: 700;
	line-height: 0.467;
}
.sup{
	color:  #484848;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 0.467;
	position: relative;
	bottom: 25px;
}

.money-2{
	color:  #484848;
	font-size: 1.125em;
	position: relative;
	right: 35px;
}
.tr__3,
.tr__4,
.tr__5,
.tr__6,
.tr__7,
.tr__8{
	color:#484848;
}


.tr__3,
.tr__5,
.tr__7{
	background-color:  #f2f2f2;
}

.tr__4,
.tr__6,
.tr__8{
	background-color: #e1e1e1;
}

.tr__9-td_1{
	background-color: #dddddd;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.tr__9-td_2{
	background-color: #eeeeee;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.tr__9-td_3{
	background-color: #f4f4f4;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.tr__9-td_4{
	background-color: #eeeeee;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

button{
	width: 70%;
	height: 100%;
	border-radius: 5px;
	cursor:pointer;
	text-transform: uppercase;
	color:  #ffffff;
	border:0px;
}

.button_1{
	background-color:  #484848;
	border-bottom: 7px solid #404040;
	padding-top: 5px;
}

.button_2{
	background-color:  #89c331;	
	border-bottom: 7px solid #79b027;
	padding-top: 5px;
}

.button_3{
	background-color:  #f04a56;	
	border-bottom: 7px solid #df3a46;
	padding-top: 5px;
}

.button_4{
	background-color:  #20807c;	
	border-bottom: 7px solid #16736f;
	padding-top: 5px;
}

.button_1:hover{
	background-color:  #ffea00;	
	border-bottom: 7px solid #ffea00;
}

.button_2:hover{
	background-color:  #ffea00;	
	border-bottom: 7px solid #ffea00;
}

.button_3:hover{
	border-bottom: 7px solid #ffea00;
	background-color: #ffea00;	
}

.button_4:hover{
	border-bottom: 7px solid #ffea00;
	background-color: #ffea00;	
}
:hover{
	transition: 1s all;
}
